.taco-image {
    width: 200px;
    height: 200px;

}

.image-box-shadow {
    box-shadow: 60px -16px 2px 5px rgba(0, 0, 255, .2);
    transition: box-shadow 2s;
}

.image-box-shadow:hover {
    box-shadow: 10px -16px 2px 5px rgba(0, 0, 255, .2);
}

body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer {
    padding: 24px 0px 24px 24px;
    margin-top: 90px;
}

nav {
    padding: 16px;
}

.anchor-text-color:hover {
    background-color: white
}

a {
    text-decoration: none;
}

.anchor-text-color {
    color: #4F7302;
}

.header-background-color {
    background-color: rgba(255, 215, 00, .5);
}

.footer-background-color {
    background-color: #765BD9;
}

.recipie-layout {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.heading-text-color {
    color: #e28e79;
}

.table-background-color tr:nth-child(even) {
    background-color: lightgray;
}

html {
    background-color: rgb(143, 00, 255, .2);
}
